input[type=range] {
    height: 35px;
    -webkit-appearance: none;
    background: transparent;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #00000004;
    background: #3071a9;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 27px;
    width: 27px;
    border-radius: 26px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3071A9;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 27px;
    width: 27px;
    border-radius: 26px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 27px;
    width: 27px;
    border-radius: 26px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071A9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #3071A9;
  }

#refeicoes{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 450px;
}

#eatbtn{
  transition: 0.3s;
  height: 80px;
  width: 100px;
}

.manha{
  background-image: url("images/breakfastbtn.png");
}
.almoco{
  background-image: url("images/lunchbtn.png");
}
.tarde{
  background-image: url("images/snackbtn.png");
}
.janta{
  background-image: url("images/dinnerbtn.png");
}

#eatbtn:hover {
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(21, 255, 0, 0.808);
}

#eatbtn:active {
  transform: scale(1.05);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


#phone {
  position: relative;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 40px;
  background: #cccccc;
  border-radius: 50%;
  font-size: 30px;
  color: #585858;
  transition: .5s;
}

#phone:before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius:50%;
  background: #5a02ff;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

#phone:hover:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px #5a02ff;
  filter: blur(3px);
}

#phone:hover {
  color: #5a02ff;
  box-shadow: 0 0 15px #5a02ff;
  text-shadow: 0 0 15px #5a02ff;
}

#book {
  position: relative;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 40px;
  background: #cccccc;
  border-radius: 50%;
  font-size: 30px;
  color: #585858;
  transition: .5s;
}

#book:before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius:50%;
  background: #ffee02;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

#book:hover:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px #ffee02;
  filter: blur(3px);
}

#book:hover {
  color: #ffee02;
  box-shadow: 0 0 15px #ffee02;
  text-shadow: 0 0 15px #ffee02;
}

#heart {
  position: relative;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 40px;
  background: #cccccc;
  border-radius: 50%;
  font-size: 30px;
  color: #585858;
  transition: .5s;
}

#heart:before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius:50%;
  background: #ff0278;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

#heart:hover:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px #ff0278;
  filter: blur(3px);
}

#heart:hover {
  color: #ff0278;
  box-shadow: 0 0 15px #ff0278;
  text-shadow: 0 0 15px #ff0278;
}