body {
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    flex-direction: column;
}

.rectangle {
    width: 100%;
    height: 20vh;
    position: fixed;
    z-index: -1;
    top: 0;
}

.icon{
    float:left;
    margin: 0px;
    padding: 0px;
    width: 25%;
    height: 20vh;
    transition: 0.75s;
}
#bfs{
    opacity: 0;
}
#lnch{
    opacity: 0;
}
#tde{
    opacity: 0;
}   
#dner{
    opacity: 0;
}




#rectangle1 {
    background-color: rgba(0, 255, 0, 0.212);
    top: 20%;
}

#rectangle2 {
    background-color: #5b02ff44;
    transition: 0.75s;
    top: 40%;
}

#rectangle3 {
    background-color: #ffee0241;
    transition: 0.75s;
    top: 60%;
}

#rectangle4 {
    background-color: #ff02783b;
    transition: 0.75s;
    top: 80%;
}

#rectangle5 {
    background-color: rgba(27, 6, 255, 0.308);
}

#waterfilling {
    background-color: rgb(21, 0, 255);
    width: 0%;
}
h1 {
    z-index: 2;
    font-family: sans-serif; 
    color: white;
    -webkit-text-stroke: rgb(0, 0, 0) 1px;
    font-size: 70px;
    text-align: center;
}

.container {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    background-image: url("https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?w=2000");
    width: 550px; /* Adjust the width of the phone shape */
    height: auto;
    border-style: solid;
    border-color: #050505;
    border-width: 2px;
    border-radius: 25px; /* Make it rounded */
    margin: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    float: none;
    width: 450px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

.water{
    white-space:nowrap;
}

.label{
    text-align: center;
    white-space: normal;
}

.waterNum{
    display: inline-block;
    width: 40px;
    height: 20px;
    transform: translateY(-13px);
    background-color: #ffffff; /* Background color of the square */
    border-style: solid;
    border-radius: 30px; /* Adjust the border-radius to control the roundness */
    text-align: center;
    margin-left: 15px;
    padding: 2px;
    color: #2b5b85; /* Text color */
}